body,
html {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(120, 133, 141);
    height: 100vh;
}

.topMenu {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.buttonContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBookButton {
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
}

.mainContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    background-color: aquamarine;
    height: 100%;
}

form {
    padding-left: 1em;
}

.input-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-right: 1em;
}

.input-container input[type='text'] {
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
    padding-left: 1em;
}

.input-checkbox {
    display: flex;
    gap: 1rem;
}

.bookShelf {
    margin: 2rem;
    grid-column: 2 / 3;
    display: grid;
    gap: 1rem;
    height: 250px;
    grid-template-columns: repeat(auto-fit, 250px);
}

.bookCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 18px;
}

.bookCard lable {
    margin-top: 1em;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.removeBook {
    height: 3em;
    width: 3em;
    background-color: rgb(196, 0, 0);
    border: none;
    border-radius: 25%;
    box-shadow: 0 2px #666;
}

.removeBook:hover {
    background-color: red;
}

.removeBook:active {
    transform: translateY(2px);
}